*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* browser default font size is 16px, so to get 10px font size to make rem easier to use we divide 10/16 and get 62.5% */

  // defines what 1 rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
